body {
  margin: 0;
  padding: 0;
}

.chatroom-container {
  display: none; /* this needs to go back to 'none' */
}

.form-username {
  display: block; /* this needs to go back to 'block' */
}

.chatroom-header {
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 0.75rem;
}

#message-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #e1e1e1;
}

.message {
  background-color: #dcf8c6;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  width: fit-content;
}

.sent {
  align-self: flex-end;
}
